<html>
  <head>
      <% include ../partials/head %>
  </head>
  <body>
    <div id="app">
      <h1> Party ID: <span id="partyid"><%= partyid %></span> </h1>
       <ul id="messages"></ul>
       <form action="" v-on:submit.prevent="send_message">
         <input autocomplete="off" id="message" /><button>Send</button>
       </form>

       <div class="modal" id="usernameModal" role="dialog">
         <div class="modal-dialog modal-lg">
           <div class="modal-content">
             <div class="modal-header">
               <h4 class="modal-title">Please Enter a username</h4>
             </div>
             <div class="modal-body">
               <input v-model="playerName" placeholder="username">
             </div>
             <div class="modal-footer">
                 <button type="button" v-on:click="join_party" class="btn btn-default">Confirm</button>
             </div>
           </div>
         </div>
       </div>
    </div>



              <script>



              var socket = io();
               socket.on('flash',function(){
                 $('body').addClass("flashit");
               });

               socket.on('players',function(value){
                 console.log(value)
               });


                socket.on('chat message', function(msg){
                  console.log(msg)
                  $('#messages').append($('<li>').text(msg.playername + ": " + msg.message));
                });






               var app = new Vue({
                 el: '#app',
                 data: {
                   partyName: "",
                   modalType: "",
                   playerName: "",
                   url: window.location.pathname,
                   test: "test string"
                 },

                 methods: {
                   join_party: function(url){
                     $('#usernameModal').modal('hide');
                     // //Split url, emit only the party id
                     // var url_parts = this.url.replace(/\/\s*$/,'').split('/');
                     // url_parts.shift();
                     socket.emit('connected_to_party');
                   },

                   send_message: function(){
                     var message = {"msg":$('#message').val() , "partyid": $('#partyid').html()};
                     console.log(message)
                     socket.emit('chat message', message );
                     $('#message').val('');
                     return false;
                   }
                 },

                created: function () {
                  setTimeout(function () {
                      $('#usernameModal').modal('show');
                  }, 100);
                }
               })




              </script>



  </body>
</html>
