.round-card{
  width: 80%;
  height: 90%;
  background: $mustard;
  margin: 0 auto;
  border-radius: 15px;
  padding:25px 20px;
  color:white;
  // animation: riseIn .5s forwards;
  border: 2px solid #fff;
}


@keyframes riseIn {
  0%{
    transform:translateY(3px);
    border-bottom: 0px solid #fff;
  }
  100%{
    transform:translateY(0);
    border-bottom:7px solid #fff;
  }
}
