
$black: #000000;
$white: #FFFFFF;
$red: #cb1010;
$green: #28cf5c;

$lightGrey: #6b6b69;
$lightBlue: #77B6EA;

// Set Colour arrays
$app-colours:
	("lightBlue",$lightBlue),
	("lightGrey",$lightGrey),
	("black",$black),
	("white",$white),
	("red",$red),
	("green",$green);


// Backgrounds & Colours
	// Solid
@each $color in $app-colours {
	.bg-#{nth($color,1)} {
		background-color: nth($color,2)!important;
	}
	.bg-hover-#{nth($color,1)}:hover {
		background-color: nth($color,2)!important;
	}
	.colour-#{nth($color,1)} {
		color: nth($color,2)!important;
	}
	.colour-hover-#{nth($color,1)}:hover {
		color: nth($color,2)!important;
	}
}
.bg-hover:hover {
	opacity: 0.6;
}
